<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="xx.alert.css" />
		<script type="text/javascript" src="xx.alert.js"></script>
	</head>
	<body>
		<div>testtest</div>
		<input type="button" value="test" onclick="XX.alert('xxx', 'xxxcontent');"/>
		<select size="1">
		<option value="aaa">aaaaa</option>
		<option value="aaa">aaaaa</option>
		<option value="aaa">aaaaa</option>
		</select>
		<div id="a" style="position:absolute; top:1200px;left:1500px">aaaaa</div>
	</body>
</html>
