<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
body{margin:3px auto;text-align:center;}

</style>
<script type="text/javascript" src="xxFxMarquee.js"></script>
<script type="text/javascript">
window.onload = function(){
	var m = new XX.Fx.Marquee(document.getElementById('textdiv'), {direction:'left', speed:20, step:1});
	m.start();
	
};
</script>
<title>无标题文档</title>
</head>

<body>
 <h3>js marquee 滚动效果演示</h3>
<div id="textdiv" style="border:1 solid #c0c0c0;text-align:left;width:650px;height:100px">
<h2>--------------------走马灯演示测试--------------------------</h2><br />
文字滚动测试1<br />
文字滚动测试2<br />
文字滚动测试3<br />
<br />
制作者：Exodia<br />
联系方式:QQ39942816<br />
<a href="http://blog.csdn.net/dxx1988">BLOG地址</a>
</div>
</body>
</html>
